@charset "UTF-8";
/* CSS Document */
* {
  box-sizing: border-box;
}
body {
	font-family:"Adelphe FlorealRegular", "Baskerville", "Palatino Linotype", "Palatino", "Century Schoolbook L", "Times New Roman", "serif";
	margin: 0;
    padding: 0;
    height: 100%;
	min-height: 100vh;
	overflow: auto;
	background-image: linear-gradient(to bottom, #fd9855,#ffffff, #a20160);
	display: flex;
	flex-direction: column; 
}
main {
	flex: 1;
}
h1 {
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    font-size: 80px;
	margin: 0;
}
a {
	text-decoration: none;
	color: #d62e02;
}
a:hover{
	color: #FD0000;
}
h2 {
	font-family: DINdong, Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	max-width: 800px;
    width: 100%;
	margin-top: 10px;
	padding-left: 30px;
	
}
h2 a {
	text-decoration: none;
	color: #a20160;
	text-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.2);
	
}
h3 {
	font-size: 22px;
}
ul {
	list-style-type: none;
}
.translated_version {
    top: 50px;
    right: 50px;
	margin: 0;
}
.translated_version img {
	width: 60px;
	height: 60px;
  }
.navbar {
	width: 100%;
	top: 0;
}
.nav-item {
	display: flex;
	font-family: "DINdong", "Gotham", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
	font-size: 30px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.nav-item a:hover {
    color: #FD0000;
}
.nav-item a {
  flex-grow: 1;
  flex-basis: 0;
  padding: 10px;
  color: #d62e02;
  text-decoration: none;
  text-align: center;
}
.navbar label, #hamburger { display: none; }
@media screen and (max-width: 768px){
	.nav-item a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid #333;
  }
	.navbar label {
    display: inline-block;
    color: black;
    font-style: normal;
    font-size: 2em;
    padding: 10px;
  }
	.nav-item { display: none; }
  .navbar input:checked ~ .nav-item { display: block; }
	.translated_version { display: none;}
}
.pages-heading {
	display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 20px;
}
.work-container {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	
}
.worknav {
	font-family: "DINdong", "Gotham", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
	font-size: 30px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	padding-right: 150px;
	padding-bottom: 20px;
}
.worknav a {
	text-align: center;
}
.work-container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}
.projContainer {
	box-sizing: border-box;
	width: 100%;
	padding: 10px 40px 0px;
	display: table;
	margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
      .projContainer {
        width: 50%; /* Half width on larger screens */
      }
    }

.projContainer h2 {
	margin-left: auto;
}

.projContainer img {
	width: 300px;
	align-content: center;
}
.projContainer p {
	font-size: 18px;
	max-width: 500px;
    line-height: 1.5;
	
}
.projContainer a p {
	font-family: "DINdong", "Gotham", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
	color: #a20160;
	text-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.5);
	font-size: 22px;

}
.projContainer a p:hover {
	color: #fd9855;
}
.projContainerImg a {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;

}
.projContainerImg a img {
	display: block;
	width: 100%;
	height: auto;
	display: block;
}
footer {
	background-color: #0038A8;
	padding: 2px;
	color: #ffffff;
	text-align: center;
	position: relative;
	bottom: 0;
	width: 100%;
}
