@charset "UTF-8";
/* CSS Document */
body {
	font-family:"Adelphe FlorealRegular", "Baskerville", "Palatino Linotype", "Palatino", "Century Schoolbook L", "Times New Roman", "serif";
	margin: 0;
    padding: 0;
    height: 100%;
	min-height: 100vh;
	overflow: auto;
	background-image: url("images/smallerimages/gutta\ laughing\ government.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
}
main {
	flex: 1;
}
h1 {
	text-decoration: none;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    font-size: 150px;
	margin: 0;
}
h1 a {
	text-decoration: none;
	color: #d161a2;
	font-size: 130px;
	background-color: rgba(0, 56, 168, 1);
	border-radius: 10px;
	padding: 0px 5px;
}
h1 a:hover{
	color: #a20160;
}
.button h1 {
	font-size: 48px;
	width: 100%;
}
.button { 
	position: absolute;
	display: flex;
	flex-direction: row;
    align-items: center;
	border-radius: 10px;
	padding: 5px;
}
.button h1 a {
	margin: 20px 20px 20px 50px; 
	font-size: 36px;
	text-decoration: none;
	color: #d161a2;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}
.button a:hover {
	color: #a20160;
}
.translated_version {
    top: 70px;
    right: 90px;
	margin: 0;
	border-radius: 10px;
	padding: 0px 5px;
}
.translated_version img {
	width: 60px;
	height: 60px;
  }
.navbar {
	text-align: right;
	width: 100%;
	position: sticky;
	top: 0;
	margin-bottom: 50px;
}
.nav-item {
	font-family: "DINdong", "Gotham", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
	font-size: 48px;
	text-decoration: none;
	display: grid;
	text-align: right;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.nav-item a:hover {
    color: #d62e02;
}

.nav-item li {
	margin-right: 10px;
	margin-bottom: 20px;
}
.nav-item a {
  flex-grow: 1;
  flex-basis: 0;
  color: #ffb88a;
  text-decoration: none;
  text-align: center;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
	background-color: rgba(209, 97, 162, 1);
	padding: 5px;
	border-radius: 10px;
}
.navbar label, #hamburger { display: none; }
@media screen and (max-width: 600px){
	.button {
		margin: 20px;
		font-size: 22px;
	}
	.navbar{
		text-align: center;
	}
	.nav-item a {
    box-sizing: border-box;
    display: block;
    width: 100%;
  }
	.navbar label {
    display: inline-block;
    color: #0038A8;
    background: rgba(209, 97, 162, 0.8);
    font-style: normal;
    font-size: 4em;
    padding: 0px 10px 10px 10px;
	border-radius: 5px;
  }
	.nav-item { display: none; }
  .navbar input:checked ~ .nav-item { display: block; }
	.translated_version { display: none;}
}
.pages-heading {
	display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 20px;
}
.video-container {
    position: relative;
    height: 100vh;
}
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: space-around;
    color: #D161A2;
    text-align: center;
	margin: 5px;
	text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.8);
}
.button { 
	position: absolute;
	display: flex;
	flex-direction: row;
    align-items: center;
	padding-top: 30px;
}
.button a {
	margin: 0px 40px 0px 40px; 
	font-size: 36px;
	text-decoration: none;
	color: #d161a2;
}
.overlay p {
	font-size: 52px;
}
footer {
	background-color: #0038A8;
	padding: 10px;
	color: #ffffff;
	text-align: center;
	position: relative;
	bottom: 0;
	width: 100%;
}
